<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/style.css') }}"
    />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load("visualization", "1", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Element", "expenses", "budget", { role: "annotation" }],
          ["expenses", {{total_expenses}}, 1, "#22b7b4"],
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, 2]);
        var options = {
          title: "Total Expenses VS Budget",
          isStacked: true,
          height: 150,
          bar: { groupWidth: "40%" },
          legend: { position: "relative" },
          hAxis: {
            format: "#%",
            minValue: 0,
            viewWindow: { max: 1 },
          },
          backgroundColor: {
            fill: "#e8e8e9",
          },
          series: {
            0: { color: "#eb2d1f" },
            1: { color: "#22b7b4" },
          },
        };
        var chart = new google.visualization.BarChart(
          document.getElementById("barchart_values")
        );
        chart.draw(view, options);
      }
      window.addEventListener("resize", drawChart);
    </script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Category", "Money per Category"],
         {% for total in data %}
           {% for key, value in total.items() %}
            {% if value is string %}
             ['{{ key }}', '{{ value }}'],
            {% else %}
             ['{{ key }}', {{ value }}],
            {% endif %}
           {% endfor %}
         {% endfor %}
        ]);

        var options = {
          title: "Expenses Base on Category",
          pieHole: 0.4,

          backgroundColor: "#0b2947",
          legend: {
            textStyle: { color: 'white' }
          },
          titleTextStyle: {
            color: 'white'
          },
          height: 300,
        };

        var chart = new google.visualization.PieChart(
          document.getElementById("donutchart")
        );
        chart.draw(data, options);
      }
      window.addEventListener("resize", drawChart);
    </script>
    <title>User Dashboard</title>
  </head>
  <body>
    <nav class="nav-bar padding-right">
      <div>
        <a class="text-white h3" href="/user_dashboard"
          ><img
            class="logo"
            src="{{ url_for('static', filename='/img/logo.png') }}"
            alt="logo"
          />Expenses Management</a
        >
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <h3 class="text-white">
          {{one_user.first_name}} {{one_user.last_name}}
        </h3>
        <a class="btn bg-iron margin-left text-darkblue" href="/logout"
          >Logout</a
        >
      </div>
    </nav>
    {% block board%}
    <header class="header">
      <h2 class="text-center text-darkblue">
        YOUR OVERALL SUMMARY EXPENSES BOARD
      </h2>
    </header>
    <div id="barchart_values"></div>
    <div class="row mt-5 p-2 justify-content-center">
      <div id="donutchart" class="col-lg-6 col-md-11 p-0 mt-2"></div>
      <div
        class="
          col-lg-5 col-md-11
          d-flex
          flex-column
          justify-content-around
          align-items-center
          budget-container
          bg-rajah
          mt-2
        "
      >
        <h3 class="text-dark-brown">YOUR BUDGET</h3>
        <div class="d-flex bg-dorado">
          <h3 class="pl-5 pr-5 text-white">
            <span>$</span>{% if budget == 0%}0 {%else %} {{budget.amount}}{%
            endif %}
          </h3>
          <a class="square-btn bg-cement text-white" href="/new/budget">ADD</a>
          <a
            class="square-btn bg-orange text-white"
            href="/edit_budget/{{budget_id}}"
            >EDIT</a
          >
        </div>
        {% with messages = get_flashed_messages() %}{% if messages %}
        <div class="alert alert-danger">
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
        <a href="/new/expense" class="d-flex align-items-center text-darkblue"
          ><i class="fas fa-plus-square fa-3x"></i>
          <h3 class="ml-3">Add Expenses</h3></a
        >
      </div>
      <div class="bg-dorado text-white col-md-11 mt-2 p-0">
        <form
          action="/expenses/list/date"
          method="post"
          class="d-flex justify-content-center p-2"
        >
          <label class="mr-2"> Expenses Date From: </label>
          <input type="date" name="start_date" />
          <label class="mr-2 ml-2"> To: </label>
          <input type="date" name="end_date" />
          <button type="submit" class="btn bg-iron">Submit</button>
        </form>
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Expenses List</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
              <th scope="col">category</th>
            </tr>
          </thead>
          <tbody>
            {%if all_expenses %} {% for expense in all_expenses %}
            <tr>
              <td scope="row">
                <a href="/edit_expense/{{expense.id}}"
                  ><i class="fas fa-edit"></i
                ></a>
                <a href="/delete_expense/{{expense.id}}"
                  ><i class="fas fa-trash-alt ml-2"></i
                ></a>
              </td>
              <td>{{expense.expense}}</td>
              <td>{{expense.date}}</td>
              <td>{{expense.amount}}</td>
              <td>{{expense.category}}</td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    {% endblock%}
  </body>
</html>
